[2019-01-30 04:12] ByHSH opened #4 "直播的时候进行定时截屏"
我是Android客户端开发,我想在直播的时候进行定时截屏，但是截屏的图片是上下颠倒的，请问有什么API可以使用，或者在截屏的用什么回调可以进行处理

[2019-02-02 06:49] guohai commented on #4
@ByHSH 请问你用的什么截图的？

[2019-02-05 10:12] guohai commented on #4
这是一个 bug，这个方法里面没有把 orientation 考虑进去。我们会想法修复下。

[2019-02-11 11:22] guohai commented on #4
已经修复了 @ByHSH

https://github.com/AgoraIO/Advanced-Video/commit/2aa1e2be2f1e9f468e310953e4ec385b4c3e7e9b

[2019-02-11 11:24] #4 closed

[2019-02-22 10:55] sathishkumarjktech opened #6 "error: cannot find symbol class AgoraAPIOnlySignal"
error: cannot find symbol class AgoraAPIOnlySignal

[2019-02-22 11:54] plutoless commented on #6
@sat
 which platform?

[2019-03-25 10:27] Goriwideum opened #12 "Error: can not see video on broadcaster mode"
Hi all support,

we have downloaded the open live for Android, we pass the app to mobile device and enter in a channel but when select broadcaster mode the stream suscribed in web sample show black always.

Can you help us?

Thanks in advance.
![2019-03-25_11h27_00](https://user-images.githubusercontent.com/48910371/54912452-f4f00900-4ef0-11e9-9d26-d86535cd2ed5.png)

[2019-03-25 10:55] plutoless commented on #12
@Goriwideum  can it play successfully if you press the "play" button on the video view? If yes, it could be related to [autoplay](https://developers.google.com/web/updates/2017/09/autoplay-policy-changes) issue

[2019-03-25 11:06] Goriwideum commented on #12
Hi plutoless!!!

No, not working even if you press "play" button, always video stay in looping mode and not do anything.

In web sample we have this code: stream.play('agora_remote' + stream.getId());    but not works.

Thanks.

[2019-03-25 11:12] plutoless commented on #12
which codec are you using when you initialize your sdk client for web?
if you are using vp8, you may need to call enableWebSdkInteroperability from

[2019-03-25 11:23] Goriwideum commented on #12
I don't know which code we are using in web sdk cause we not set it, I think that this code is setted by default inside .js SDK.

By other way, I have put this line (.enableWebSdkInteroperability(true);) after .enableVideo() and now works fine, we can see video from broadcaster mode in Open Live app sample.

Thanks a lot plutoless.

Best regards.

[2019-04-08 23:00] ishaang10 opened #13 "Please solve this"
https://stackoverflow.com/questions/55582887/i-want-to-integrate-my-app-with-broadcasting-it-but-landing-into-a-crash

[2019-04-14 12:14] plutoless commented on #13
saw discussions going on in stackflow already.

[2019-04-14 18:24] ishaang10 commented on #13
Hey @plutoless can you share the link to the duscussion of the same..!! i haven't posted anything on stack yet

[2019-04-15 02:37] plutoless commented on #13
it's right in the link you provided.
anyway it seems the crash is relevant to ugq which is not relevant to our SDK. Are you using our original demo?

[2019-04-15 03:30] ishaang10 commented on #13
oh sorry. i thought this is different thread. this issue has been solved. thanks

[2019-04-15 03:30] #13 closed

[2019-05-03 06:35] monumehta opened #15 "getDevices() and switchDevice() is not working in some devices using v2.6.1"

[2019-05-03 09:04] shubhamparamhans commented on #15
I am getting DOM exception from agora js in few devices.
I haven't found any pattern yet though.

[2019-05-04 11:31] plutoless commented on #15
@monumehta is there any error logs for reference?

[2019-05-04 11:32] plutoless commented on #15
@shubhamparamhans could you pls paste the dom exception logs so that we can analyze?

[2019-05-04 12:02] shubhamparamhans commented on #15
![agora-1](https://user-images.githubusercontent.com/982056/57178719-69c04680-6e92-11e9-9c8e-6976a9152295.png)

This is the error i see in console, when i use switchDevice.
Interesting thing is that i happens for few devices.
I checked the length of getDevices it was two but somehow on switching this DOM exception was visible in console

[2019-05-05 03:25] plutoless commented on #15
@shubhamparamhans what kind of device are you getting these issues? Could you pls share me some device names which i can use to reproduce?

[2019-05-06 05:22] shubhamparamhans commented on #15
@plutoless redmi note 4, moto e4 plus, honor 6s
On these devices switch camera was not working.

[2019-05-08 07:09] plutoless commented on #15
@shubhamparamhans yes you are right we have some issues for some devices you mentioned above. The reason is those devices do not allow openning front/back camera at the same time. The exception is basically complaining that.
We have realized the issue and is arranging a fix in next major version but this takes some time. If you want to work around this issue you may first close 1st camera's local

[2019-05-14 07:05] jonchoi opened #17 "Full Session"
On iOS swift, what does Full Session mean?

[2019-05-14 07:51] plutoless commented on #17
@jonchoi i believe it refers to full screen video session.

[2019-05-26 14:24] wildcors opened #18 "Sometimes after calling remoteStream.play() video element has 'display: none' inline style"
Hello, I made simple app on ReactJS by this example https://github.com/AgoraIO/Basic-Video-Broadcasting
Sometimes after calling remoteStream.play() in handler of event 'stream-subscribed', video element added and has inline style 'display: none;', why it can be?
Here is my middleware:
[code]

[2019-05-26 15:24] plutoless commented on #18
it happens only at the time point when you start playing a stream, or the inline style will stay there? sometimes if you receive audio stream earlier then it's possible that you will have no video stream to be displayed at initial state, although it will remove the hidden style as soon as the video stream comes in.

[2019-05-27 09:01] wildcors commented on #18
It happens only at the time point when I start playing a stream.
How can I handle it? What can you recommend?

[2019-05-27 09:27] plutoless commented on #18
You can show a placeholder on top of the canvas before video stream become fully available, by scheduling a timer you can remove the placeholder while the hidden tag is gone.

[2019-05-27 11:07] wildcors commented on #18
But the hidden tag isn't gone during connection.

[2019-05-27 11:08] plutoless commented on #18
could you pls provide your channel name so that i can take a look at beckend?

[2019-05-27 20:05] wildcors commented on #18
I tried to reproduce it several times, but I couldn't and it's good. Only one thing I changed before, I made channel id shorter, anyway sorry, thank You for your time. I will close the issue.

[2019-06-04 19:54] wildcors commented on #18
@plutoless can you check please, I had similar problem during connection between phones samsung M20 (Chrome) and Huawei p smart+ (Chrome),  there was video element with remote stream, but screen was black, channel name is 935_1558519200000, last connection about 5 min ago.

[2019-06-09 14:41] plutoless commented on #18
@wildcors is your client a receiver only? Are you using websdk to publish stream?

[2019-06-11 15:46] wildcors commented on #18
cleant is not only receiver, it publishes stream too. Yes, I use agora-rtc-sdk

[2019-06-16 03:30] plutoless commented on #18
@wildcors  is there any online webpage i can test against?

[2019-06-25 11:16] anveshana99 opened #21 "Error While Broadcasting"
2019-06-25 16:43:54.505 31486-31486/io.agora.tutorials1v1vcall E/libc: Access denied finding property "net.dns1"
2019-06-25 16:43:54.505 31486-31486/io.agora.tutorials1v1vcall E/libc: Access denied finding property "net.dns2"
2019-06-25 16:43:54.506 31486-31486/io.agora.tutorials1v1vcall E/libc: Access denied finding property "net.dns3"
2019-06-25 16:43:54.506 31486-31486/io.agora.tutorials1v1vcal

[2019-06-25 11:17] plutoless commented on #21
looks like a low level system network error. try checking your network and run it again?

[2019-06-28 07:51] wildcors commented on #18
You can try it here: https://app.chinwag.me/r/www/935_1558519200000

[2019-06-30 05:35] plutoless commented on #18
@wildcors  could you pls check the timing when you call stream.play() ? is there any chance that it happens before you start publishing stream & w/o any UI interactions?

[2019-07-02 19:06] wildcors commented on #18
The timing was from 9:52 to 9:55 PM (Eastern European Summer Time (EEST) +0300 UTC), channel name is 935_54798231 (I used the same smartphones as I mentioned before). I think it isn't possible, moreover it works good on others devices.

[2019-07-03 02:50] plutoless commented on #18
hi @wildcors i checked the backend and i see two users 6XBqz7RiFKPRHYjzbGEO7OX6eyS2 and 662WZB2nCAWLadn0bol4lzXXvKr2. The first user is publishing videos and second user can properly receive and render them. While for the other way around, the second user is not publishing anything. When you talk about "user's screen is black", which user are you referring to?

[2019-07-04 05:10] wildcors commented on #18
Hello @plutoless, the first user (6XBqz7RiFKPRHYjzbGEO7OX6eyS2, device - huawei p smart+) had problem with remote stream (there wasn't video). Yes, during test, once I had case when one user didn't publish stream.

[2019-07-04 05:12] plutoless commented on #18
so case resolved? it makes sense that first user cannot see remote stream because second user is not publishing anything?

[2019-07-04 10:29] plutoless commented on #18
do you have a channel name and timestamp just like above?

[2019-07-06 06:26] wildcors commented on #18
Hello @plutoless, channel name is 1562393817247, user "ezJpr91v8LTzmIkAZyw2PEAMHwp2" had problem with remote stream, case the same - video element with remote stream was added to container, but there was nothing (black screen). The timing was from 9:19 to 9:21 AM (Eastern European Summer Time (EEST) +0300 UTC).

[2019-07-07 13:39] plutoless commented on #18
from the backend i can see ezJpr91v8LTzmIkAZyw2PEAMHwp2 is receiving 6XBqz7RiFKPRHYjzbGEO7OX6eyS2's video and it has a constant video bitrate of 400. However the decoded frame is 0 - which basically means the video failed to be decoded. i noticed from backend log that you are using h264 - however this is hardware codec and not guaranteed to be supported by all hardware devices. Could you pls chang

[2019-07-11 05:48] wildcors commented on #18
Hello @plutoless! Yeah, it works, thank you a lot.

[2019-07-11 13:10] plutoless commented on #18
@wildcors  glad it works for you. Just be aware vp8 on mac/ios is supported on latest safari only - so you have to make some choices if you need to support these platforms

[2019-07-17 04:52] anveshana99 commented on #21
Hi @plutoless i tested this with better connection and with firewall and i tested even with mobile network also.

 E/StreamingGoLive: StreamingGoLive Warning - 8
2019-07-17 10:19:58.618 3316-3659/com.destino.dating.matching.app E/StreamingGoLive: StreamingGoLive Warning - 16
2019-07-17 10:19:58.620 3316-3659/com.destino.dating.matching.app E/StreamingGoLive: StreamingGoLive Warning - 16

[2019-07-17 05:59] plutoless commented on #21
i believe these warnings are fine. so you are not able to do video broadcasting?

[2019-07-17 08:24] anveshana99 commented on #21
I'm able to doing video broadcasting. But I need to know why these warnings  happening.

[2019-07-17 08:30] plutoless commented on #21
for details of warnings, you may take a look at this https://docs.agora.io/en/Voice/API%20Reference/cpp/namespaceagora.html#a32d042123993336be6646469da251b21

[2019-07-17 09:05] anveshana99 commented on #21
okay.

[2019-07-17 09:05] #21 closed

[2019-08-06 10:17] felixcc opened #24 "运行 demo 一直报错。"
![image](https://user-images.githubusercontent.com/459409/62532176-6a43f100-b876-11e9-9fb2-ba1ebd057328.png)

[2019-08-11 06:55] brianxcli commented on #24
native libs 路径是如何设置的

[2019-08-12 01:42] guohai commented on #24
如果是手动拷贝 jar/so 的话，看下 jniLibs 里面是否有对应的 so

[2019-08-12 03:01] TongJiangyong commented on #24
应该是手动移动so包出错导致的问题，可以按一下的步骤check一下：
1、烦check一下so包有没有按正确的版本(arm64,armv7a,x86)移动到readme指定的位置
2、如果自己有配置gradle指定so包的加载路径，请确定下so包是否移动到指定的路径

[2019-10-09 03:43] wwb20030901 opened #34 "TypeError: Cannot read property 'name' of undefined"
web端直播报错
![test](https://user-images.githubusercontent.com/15224906/66450102-dbc43980-ea89-11e9-85d9-8357baca6662.png)

[2019-10-09 04:08] Matrixbirds commented on #34
可以提供一下你的复现环境和复现步骤吗？

[2019-10-09 07:58] wwb20030901 commented on #34
在编译和启动实例程序前，您需要首先获取一个可用的App ID:

在agora.io创建一个开发者账号

前往后台页面，点击左部导航栏的 项目 > 项目列表 菜单

复制后台的 App ID 并备注，稍后启动应用时会用到它

在项目页面生成临时 Access Token (24小时内有效)并备注，注意生成的Token只能适用于对应的频道名。

把文件 .env.example 重命名为 .env file. 在这个文件中，将<#YOUR APP ID#>替换为您自己的App ID。

REACT_APP_AGORA_APP_ID=<#YOUR Agora.io APP ID#>
REACT_APP_AGORA_LOG=true

这些步骤我都是按照提示做的

只是后面的npm install我发现一直有报错，
我改用了cnpm install,cnpm是指向淘宝镜像的npm工具

安装成功

[2019-10-11 11:23] OkarinLi commented on #34
我也遇到同样的问题，请问解决了吗？

[2019-10-11 13:28] Matrixbirds commented on #34
可能是因为这里没有传递token导致的。我这边加了一下可以参考 [这里](https://github.com/AgoraIO/Basic-Video-Broadcasting/pull/35/files)

[2019-10-11 15:36] vjotaa opened #36 "TypeError: Cannot read property 'name' of undefined"
I have problems to make it run the demo, it says `Cannot read property 'name' of undefined`, I replace the `REACT_APP_AGORA_APP_ID=myID` and run `npm run dev`, I don't know how to create the token and how I put in the .env? Is this the issue? my token?

[2019-10-11 15:46] vjotaa commented on #34
I have the same problem, you find a solution?

[2019-10-11 16:03] #34 closed

[2019-10-12 02:27] Matrixbirds commented on #36
Pls provide your error stack here. I will check it ASAP.

[2019-10-15 11:26] thakorji007 opened #38 "How can i implement Basic - video Broadcasting in Angular 7 ?"
Hello sir or mem
 can you please tell me how can i implement Basic - Video-Broadcasting in Angular 7 for Web ?

can you please Help me ?

[2019-10-15 15:20] plutoless commented on #38
which part of using our sdk do you have problems?

[2019-10-16 06:04] thakorji007 commented on #38
Yes sir ,
using Agora web API i can create Channel on web , and also i can attached camera and microphone and it will show me on my browser , it can not connect by android or IOS side , and if android or IOS are creating Channel then in web can not connect it , and it is not showing in display area

can you please help me to solve this particular issue ?

[2019-10-20 15:23] plutoless commented on #38
for android/iOS, are you using native SDK?

[2019-10-20 23:14] thesct22 opened #39 "Error: Cannot find module '@csstools/normalize.css'"
./src/index.css (./node_modules/css-loader/dist/cjs.js??ref--6-oneOf-3-1!./node_modules/postcss-loader/src??postcss!./src/index.css)
Error: Cannot find module '@csstools/normalize.css'

[2019-10-21 01:48] plutoless commented on #39
@thesct22 it seems your npm install is somehow not successful. please try deleting the node_moduels folder and npm install again

[2019-10-22 07:30] thakorji007 commented on #38
Hello sir
    i have solved most of issue , but i can't find a solution for one issue.

    ----------
    ISSUE
   -----------
       :   when i use when i run project as localhost then Agora API can access Media access like camera and microphone but when i run globally it , then it give me error Media can not access like camera or microphone

can you please tell me why it is happens ?

[2019-10-22 08:47] plutoless commented on #38
guess you are deploying to http? webrtc requires https

[2019-11-16 04:43] #38 closed

[2019-11-16 06:51] thakorji007 opened #40 "Giving No 'Access-Control-Allow-Origin' during calling Live Chanel"
*when i calling Agora API for getting live chanel name from PostMan tool then it is successfully call but problem is that when I am trying to call Agora API using Angular7 , then i can't able to call Agora API and it giving me cross-origin whith 404 error. i have mantion exception below.*

    OPTIONS https://api.agora.io/dev/v1/channel/{App Id}/ 404 (Not Found)

    Access to XMLHttpRequest at 'h

[2019-11-16 07:16] plutoless commented on #40
you need to replace {App Id} with your own one. also usually this api is not suitable to call from client directly, as it can be abused and your credential could also leak to client users. usually this api is used from your server side so that it does not require cors support

[2019-11-16 07:17] plutoless commented on #40
closing here as it's not relevant to any samples in this repository.
please talk to community for general enquiries about agora product.
https://docs.agora.io/en/Agora%20Platform/community?_ga=2.65742894.1887031822.1573724841-2140392182.1568170006

[2019-11-16 07:17] #40 closed

[2019-11-27 16:17] wann2 opened #43 "Please support WorkerThread like the previous version"
Hi,

I have been using Basic-Video-Broadcasting that using WorkerThread till 2.9.0.
And I have been using it the Video Call together in my App.

But suddenly the version 2.9.1 and the sample sources does not support workerThread, but Application. It means that RtcEngine sites in AgoraApplication.java.
It is absolutely hard work, because the new sample source can not apply to my App.
Furthermore th

[2019-11-27 16:29] wann2 commented on #43
Or Clould please guide how can I move the RtcEngine logic in AgoraApplication into Activity file like LiveActivity.java or RtcBaseActivity.java?

[2019-11-28 03:28] plutoless commented on #43
hi you can find previous version in existing tags:
https://github.com/AgoraIO/Basic-Video-Broadcasting/tree/2.9.1

However we will put future works in latest version. WorkerThread is not a must but a rather recommended approach when you are implementing large project with better thread management. It's up to your choice whether to use it or not. We removed it mainly because it will introduce a lot

[2019-11-28 05:14] wann2 commented on #43
Now I have applied the new Broadcast sample to my app.
At first, it was difficult to understand the new broadcast sample by putting RtcEngine in AgoraApplication.java, but later I found out that Application is a Common Class, so I can apply it to my app. As a result, the new approach was much more concise and better than WorkerThread.

When will the samples for VideoCall and VoiceCall be updated a

[2019-11-28 05:23] plutoless commented on #43
@wann2  glad to hear that! it's on our radar and we will adapt Open Video Call in upcoming 1-2 releases.

[2019-11-28 05:31] wann2 commented on #43
Hi Qianze,

I have a question.

In VideoGridContainer.java, MAX_USER = 4 is set.

Does MAX_USER mean up to maximum 4 Broadcasters?
Or does it mean up to maximum 4 Audiences?

Best,
WannWann Lee

[2019-11-28 05:37] plutoless commented on #43
up to 4 broadcasters. you can literately have unlimited audience in one channel. the MAX_USER variable is used to layout the broadcasters. but this is just a limitation set on UI level within this demo. agora sdk supports up to 17 broadcasters in one channel.

[2019-12-04 11:26] chiragdabhi0007 opened #45 "In Android not showing camera"
After add app id and access token not showing camera view in android open live demo

[2019-12-04 11:35] plutoless commented on #45
maybe you can provide our sdk logs?

[2019-12-04 11:42] chiragdabhi0007 commented on #45
how to i get sdk logs.?

[2019-12-04 11:48] chiragdabhi0007 commented on #45
[agorasdk.log](https://github.com/AgoraIO/Basic-Video-Broadcasting/files/3921617/agorasdk.log)

This is my log file

[2019-12-04 11:52] plutoless commented on #45
looks like your log file is incomplete.. it was cut after you call setLogFile. are you sure you are getting this log file from this location?
/storage/emulated/0/io.agora.openlive/log/agora-rtc.log

[2019-12-04 11:53] chiragdabhi0007 commented on #45
[agora-rtc.log](https://github.com/AgoraIO/Basic-Video-Broadcasting/files/3921634/agora-rtc.log)

This is rtc log file first was sdk log file

[2019-12-04 12:00] plutoless commented on #45
could you pls provide the token you used? looks like your join request was rejected while joinning channel

[2019-12-04 12:03] chiragdabhi0007 commented on #45
Tooken:-  006ada0a2b2a2384dcf9d4a1dda5f673ebdIABbVGES5IGTZ25kwkAba41asEwHaOnG1RWIyjUSdkZZ5ZLpGWcAAAAAEAAjQkINhufoXQEAAQCF5+hd

But you provided demo for android in this user auto joined or not

[2019-12-04 13:02] #43 closed

[2019-12-04 13:02] #24 closed

[2019-12-04 13:04] #12 closed

[2019-12-05 14:06] AxesandGrinds opened #47 "Can multiple users host a broadcast at the same time?"
I understand that working with the demo, a user can either enter as a broadcaster or as the audience. My question is, can multiple users enter as broadcasters in the same channel while the remaining users enter as audience?

Thanks for your help.

[2019-12-06 02:45] plutoless commented on #47
yes you can.

[2019-12-08 13:31] plutoless commented on #45
using this token, which channel are you trying to join? from your above log i see the channel you are trying to join is named "br", but from the token you decoded, the token is not generated for this channel?

[2019-12-11 11:45] AxesandGrinds opened #48 "Is Push Stream Necessary?"
In the activity_live_room layout file there is an image view with the id: live_btn_push_stream
and the onclick function: onPushStreamClicked. I am new to broadcasting so I don't understand what the push stream is for. Is it necessary in order to create a broadcast? What is the purpose of the push stream? Can someone broadcast and have streamers watch the broadcast without a push stream?

Secondly,

[2019-12-11 11:49] AxesandGrinds commented on #47
For other users with the same question, I solved this issue by combining the Basic-Video-Broadcasting code with the interactive broadcasting code (https://github.com/AgoraIO/Advanced-Interactive-Broadcasting) such that if a user joins as a streamer with a particular uid (starts or ends with a particular keyword) then that user enters the broadcast in the smallAdapter. To remove the user from small

[2019-12-11 11:50] #47 closed

[2019-12-14 01:39] digitallysavvy commented on #45
@plutoless I'm seeing a similar issue where there is no video is coming through from a remote broadcaster and when I assume the broadcaster role, the local video is not appearing.

The temp token (_below_) with channel name **demo**
0062ec0d84c41c4442d88ba6f5a2beb828bIABOEqAdEiUwhwUdq71Lo7CgGpTjeWgYgpQ7+pwv8E353KDfQtYAAAAAEAAMO+cUUnX1XQEAAQBSdfVd

logs
[code]

I can email you the full logs if you

[2019-12-15 14:26] plutoless commented on #48
@AxesandGrinds if you take a look at detail implementation you will notice the implementation is empty. that means it's not being used at all. to publish a stream you just need to make yourself a broadcaster and join the same channel.
there's no limitation for audience number

[2019-12-15 14:35] plutoless commented on #45
@digitallysavvy  yes pls.

[2019-12-17 19:26] AxesandGrinds commented on #48
Thank you for the explanation!

[2019-12-17 19:26] #48 closed

[2019-12-23 10:43] amolreapmind opened #51 "Camera"
Camera is not opening

[2019-12-23 11:27] plutoless commented on #51
please provide more info:
1. which demo are you running
2. reproducible steps
3. sdk logs

[2019-12-26 06:24] amolreapmind commented on #51
For current demo
Steps to reproduce

1] Open this project in android studio
2] Set appid and token for live project
3] Run project
4] Set channel name

[2019-12-26 07:39] amolreapmind commented on #51
[agorasdk.log](https://github.com/AgoraIO/Basic-Video-Broadcasting/files/4001766/agorasdk.log)

[2019-12-26 07:48] amolreapmind commented on #51
Hi,
    Can you tell the information in detail about live steaming in
android.

Thanks,
Amol Magdum

[2019-12-26 09:57] plutoless commented on #51
it seems you are setting to change the log file location to
/storage/emulated/0/io.agora.openlive/log/agora-rtc.log
please collect the log from your specified path

[2019-12-28 07:41] rainver commented on #45
same problem

[2019-12-29 16:10] tanvidhope commented on #51
@plutoless I'm having the same issue

[2019-12-29 16:21] plutoless commented on #51
@tanvidhope  please double check if you have successfully joined channel or not. if you can provide your sdk log it would be easier for us to locate root cause

[2019-12-29 17:02] tanvidhope commented on #51
This is my log:

2019-12-29 22:03:55.465 7322-7322/io.agora.openlive W/ActivityThread: handleWindowVisibility: no activity for token android.os.BinderProxy@1b932f7
2019-12-29 22:03:55.546 7322-7327/io.agora.openlive I/.agora.openliv: Compiler allocated 4MB to compile void android.widget.TextView.<init>(android.content.Context, android.util.AttributeSet, int, int)
2019-12-29 22:03:57.507 7322-7322/

[2019-12-30 02:18] plutoless commented on #51
@tanvidhope  this is not our sdk log. please collect it from below path,
/storage/emulated/0/io.agora.openlive/log/agora-rtc.log

[2019-12-30 03:57] wanghaolonggit opened #52 "TypeError: Cannot read property 'attach' of undefined"
![image](https://user-images.githubusercontent.com/29269052/71567627-7d907b00-2afb-11ea-8b91-62ba7760c724.png)

[2019-12-30 04:09] Matrixbirds commented on #52
可以提供一下复现环境吗 安装生成的package-lock.json以及你本地的package.json

[2019-12-30 06:16] wanghaolonggit commented on #52
用的 OpenLive-Web demo
package.json
`{
  "name": "openlive-web",
  "version": "3.0.0",
  "private": true,
  "homepage": ".",
  "dependencies": {
    "@material-ui/core": "^4.4.0",
    "@material-ui/icons": "^4.2.1",
    "agora-rtc-sdk": "3.0.0",
    "clsx": "^1.0.4",
    "prop-types": "^15.7.2",
    "react": "^16.9.0",
    "react-dom": "^16.9.0",
    "react-router-dom": "^5.0.1",
    "react-scripts"

[2019-12-30 06:20] wanghaolonggit commented on #52
package-lock.json 太长了传不了

[2019-12-30 08:41] Matrixbirds commented on #52
你可以提交一个有异常的版本到你的仓库里 我去clone出来复现一下

[2019-12-31 09:30] rainver opened #53 "视频黑屏无法显示"
Nexus 5X / 8.1 / android studio 3.5.3
替换appid和token之后启动
使用生成token的字符串进入频道
选择主播模式
进入房间后黑屏
日志里有一些错误
请帮忙看看是什么问题
[agora-rtc.log](https://github.com/AgoraIO/Basic-Video-Broadcasting/files/4012312/agora-rtc.log)

[2020-01-02 10:01] plutoless commented on #53
看起来是token匹配问题，你用token算的时候应该填了一个频道名，这个频道名是否和后来你加入频道时使用的频道名一致？

[2020-01-07 08:15] rainver commented on #53
谢谢，搞明白了，原来这个demo项目没有用到access token，后台生成项目的时候选择只用appid验证，不要启用证书

[2020-01-07 08:15] #53 closed

[2020-02-03 16:10] RishabhManikpuri opened #54 "Not able to start the broadcast from the app."
I have tried adding the token with same channel name but still im not getting the local video feeds.

[2020-02-04 05:02] plutoless commented on #54
how about uid? does that match?

[2020-02-11 18:08] seth-gravy commented on #45
The issue is that the app is not using the token in `strings_config.xml`.

Replace this line:
[code]

With:
[code]

Here:
https://github.com/AgoraIO/Basic-Video-Broadcasting/blob/master/OpenLive-Android/app/src/main/java/io/agora/openlive/activities/RtcBaseActivity.java#L32

[2020-02-12 04:53] plutoless commented on #45
@seth-gravy  thx for pointing out! fixed in https://github.com/AgoraIO/Basic-Video-Broadcasting/pull/55

[2020-02-25 07:47] nusa10071999 opened #56 "addVideoWatermark() not work"
i try to add watermark image to live broadcast, but it not work. this my script

WatermarkOptions watermarkOptions = new WatermarkOptions();
watermarkOptions.positionInPortraitMode = new WatermarkOptions.Rectangle(100, 100, 512, 512);
rtcEngine().addVideoWatermark("/assets/test.png", watermarkOptions);

[2020-03-01 11:21] plutoless commented on #56
are you running on android? could you pls provide your sdk log? it's usually allocated at /sdcard/{your app bundle id} folder.

[2020-03-03 08:38] lin1105 opened #57 "推流端进入直播以后，本地视图黑屏是怎么回事啊"
token 和  频道名都是对应起来的

[2020-03-03 08:51] lin1105 commented on #57
拉流端能够正常看得到直播画面

[2020-03-03 09:14] lin1105 commented on #57
[agorasdk.log](https://github.com/AgoraIO/Basic-Video-Broadcasting/files/4280280/agorasdk.log)

[2020-03-06 04:43] plutoless commented on #57
你跑的是openlive示例吗？用模拟器跑的还是真机跑的？换个设备是否正常？

[2020-03-06 04:43] plutoless commented on #57
看日志频道加入应该成功了

[2020-03-10 02:24] #57 closed

[2020-03-15 04:32] dume2007 opened #63 "error: User32.LIB: No such file or directory"
Hello,
Where can I find the User32.LIB?

[2020-03-16 02:16] sbd021 commented on #63
Try to set OpenLive project's property, Library Directories in VC++ Directories. You need to add $(WindowsSDK_LibraryPath_x86) on Win10 or $(WindowsSdk_71A_LibraryPath_x86) on win7

[2020-03-24 11:50] Rishabh-trivialworks opened #66 "Unable to start video broadcasting"
2020-03-24 17:07:02.494 25759-25759/io.agora.openlive I/AssistStructure: Flattened final assist data: 1544 bytes, containing 1 windows, 7 views
2020-03-24 17:07:04.988 25759-25759/io.agora.openlive I/Timeline: Timeline: Activity_launch_request time:378368421
2020-03-24 17:07:05.026 25759-25759/io.agora.openlive W/ActivityThread: handleWindowVisibility: no activity for token android.os.BinderProxy@

[2020-03-24 13:03] #66 closed

[2020-03-26 11:53] EpariNigam opened #68 "Audience joined callback"
How can I get, an audience joined the session?

[2020-03-26 23:06] plutoless commented on #68
there's no such callback for the moment.

[2020-03-27 00:19] plutoless commented on #68
yuo may use our rtm sdk to manage member join/leave events

[2020-03-27 05:26] EpariNigam commented on #68
In that case, I will have separate user id in rtc and rtm right?

[2020-03-27 09:20] plutoless commented on #68
right. you might need to manage the mappings yourself in your backend

[2020-03-30 14:25] Zeeshan90 opened #69 "Warning Code Help!!!!!"
Help!!!!!!
 i am getting this error in ios
warning code: invalid view
warning code: 16

[2020-04-01 09:46] Komal2905 opened #70 "Picture in Picture support"
Hi, I need to implement PIP mode on video broadcasting. is this library support this

[2020-04-03 06:21] bvergara87 opened #72 "Media Undefined"
![Screen Shot 2020-04-02 at 11 20 51 PM](https://user-images.githubusercontent.com/11671477/78330325-9c5a3f80-7538-11ea-9253-3af0bdcc50fc.png)

Having issues with starting up the Web Demo, I get the error "media undefined" as well as this after following the steps.

[2020-04-03 06:31] #72 closed

[2020-04-03 16:05] huynhdq91 opened #73 "DNS error in Android 8, cannot receiver the broadcast"
I'm testing on emulator API 26, Android 8.0.
And it can start stream, but cannot receiver the stream from others.
On API 24 its OK.
This is the log:
`E/libc: Access denied finding property "net.dns1"
E/libc: Access denied finding property "net.dns2"
E/libc: Access denied finding property "net.dns3"
E/libc: Access denied finding property "net.dns4"
D/*WEBRTCN*: SetRenderAndroidVM
D/EGL_emulation: e

[2020-04-04 07:36] hjhimanshu01 opened #74 "Screen Sharing error in OpenLive-Web"
Hello, I have been trying to set up the screensharing  functionality correctly since last few days and I'm getting a particular issue that seems to root from the project. Here's the screenshot.

Steps to reproduce:

i ) Go to agora web platform and join a channel ( let's say "hello" ) as a "host"

ii ) Next join the same channel as a "attendee"

iii ) try using the screen share feature

iv ) then

[2020-04-05 12:14] plutoless commented on #69
looks like the view you are setting is incorrect? which demo are you running?

[2020-04-05 12:38] plutoless commented on #70
yes. you only need to layout your views

[2020-04-05 12:57] plutoless commented on #73
have you received any events like joinChannelSuccess? dns issue can usually be ignored

[2020-04-06 05:40] Komal2905 commented on #70
@plutoless  How to achieve that in native iOS
Do you have any idea?
Do we have to use AVPictureInPictureController?

[2020-04-06 13:04] sathish-xseed commented on #72
@bvergara87  I'm getting the same error. could you please share the fix?

[2020-04-06 13:37] bvergara87 commented on #72
You need to make sure the room/topic you enter is the same string as the string you entered when generating the temp token.

[2020-04-08 21:23] harshitvora opened #76 "Invalid gateway client"
I'm trying out this project: https://github.com/AgoraIO/Basic-Video-Broadcasting

The Start Live Broadcast prompts a "Media undefined" message.

The console logs this:

Agora-SDK [DEBUG]: [CDA2C]  INVALID_GATEWAYCLIENT

[2020-04-09 03:04] dangmeng commented on #51
I'm having the same issue
model: HUAWEI Honor 8x
OS: android 10
[agora-rtc.log](https://github.com/AgoraIO/Basic-Video-Broadcasting/files/4453807/agora-rtc.log)

[2020-04-09 21:56] svhen commented on #76
Follow this: https://docs.agora.io/en/Agora%20Platform/token?platform=All%20Platforms and restart run again the project

[2020-04-10 05:30] hjhimanshu01 commented on #74
Hey this happens because stream is removed twice, once the `removeStream` is called and next `removeStreamById` , I found a temp fix by removing the function of `removeStreamById`.

[2020-04-12 13:47] plutoless commented on #51
![image](https://user-images.githubusercontent.com/471561/79070240-15ab1c80-7d07-11ea-94c1-62b53b2ce63f.png)
it seems you failed to join the channel. please double check if your token is properly specified.

[2020-04-17 23:44] NoobDay opened #79 "Chat with live streaming"
Hi,
I'm seeking some informations about the Agora platform
does the platform gives the possibility to add live chat panel behind the the video live streaming ?
thanks in advance

[2020-04-19 08:16] plutoless commented on #79
@NoobDay  you may use our real time messaging sdk
https://docs.agora.io/en/Real-time-Messaging/product_rtm?platform=All%20Platforms
you will need to build the UI panel yourself though.

[2020-04-19 09:14] NoobDay commented on #79
tnx dude

[2020-04-19 16:57] khalaniaiyaj commented on #79
Is there any sample web app in which we can see video and real time chat both ?

[2020-04-21 13:58] plutoless commented on #79
@khalaniaiyaj we don't have a demo having both but we have them separately
https://webdemo.agora.io/agora-web-showcase/examples/OpenLive-Web/#/
https://webdemo.agora.io/agora-web-showcase/examples/Agora-RTM-Tutorial-Web/

[2020-04-23 09:39] AnandMulay opened #82 "does agora supports unity UWP/Hololens build"
as per title agora video streaming or broadcast support for hololens, does it work on this platform ?

[2020-04-26 12:27] plutoless commented on #82
we don't have ready-to-go sdk but you can wrap the c++ api yourselves on UWP.

[2020-04-27 15:21] shindeyy opened #83 "Audio not working in signed apk with proguard."

[2020-04-28 05:03] shindeyy opened #84 "Audio issue for broadcaster on oneplus 6t device.(No audio for other device working fine)"

[2020-05-01 03:45] wann2 opened #86 "Do you have a Flutter version?"
Hi,
Do you have a Flutter version?

[2020-05-02 19:03] vgavrilovikj commented on #72
Where can I find that string?

[2020-05-02 19:26] bvergara87 commented on #72
On the Agora Dashboard, the channel name you use when generating that temp token needs to be the same as when you initialize the Agora client.

[2020-05-02 19:50] vgavrilovikj commented on #72
Okay, so I have created a channel named Music:
![image](https://user-images.githubusercontent.com/29601489/80888723-bf564b80-8cbe-11ea-8119-76de1ae5a3ab.png)
Then I am inserting "Music" here as well:
![image](https://user-images.githubusercontent.com/29601489/80888964-d09f5800-8cbe-11ea-9e46-729f22fed062.png)

But, when I click on Start Broadcast - I get this error:
![image](https://user-images.gi

[2020-05-02 19:53] bvergara87 commented on #72
Did you follow the steps to setup your app certification and temporary
token?

On Sat, May 2, 2020 at 12:50 PM vgavrilovikj <notifications@github.com>
wrote:

--
*Bryant Vergara*
CTO

[image: Dexter Website] <https://www.dexterlearning.com/>
719 Scott Avenue, Ste 200, Wichita Falls, TX
<https://maps.google.com/?q=719+Scott+Avenue,+Wichita+Falls,+TX+(940&entry=gmail&source=g>
(940)782-3390

This em

[2020-05-02 20:06] vgavrilovikj commented on #72
Sorry my mistake.. I have left the < and > in the .ENV it works perfectly fine :)

[2020-05-04 12:08] plutoless commented on #84
could you pls provide some logs? w/o that we can't give you useful inputs.

[2020-05-04 12:47] plutoless commented on #86
duplicate of https://github.com/AgoraIO/Advanced-Audio/issues/30

[2020-05-04 12:47] #86 closed

[2020-05-04 16:31] kush3107 opened #87 "Getting Cannot read property 'appendChild' of null on switchDevice method call"
I am trying to switch the input device for the current local stream. I am on sdk version 3.0.2 but when I try to do so I get the error in the attached screenshot. [I followed this link](https://docs.agora.io/en/faq/switchdevice_web?_ga=2.201649301.542709700.1588230967-1293165024.1580590428)

This link clearly says that I just need to call this method above version 2.5.0
I have attached the console

[2020-05-04 16:32] kush3107 commented on #87
[code]

[2020-05-05 13:36] plutoless commented on #87
the error usually means you are trying to play a dom but that dom does not exist. could you pls check all you play api call

[2020-05-06 07:07] hamzaamir749 commented on #45
Nice

[2020-05-21 12:36] NayanBhut commented on #69
I am running iOS Demo. Current pod version in 3.0.0.2. I am also getting same warning.
warning code: invalid view
warning code: 16

As per demo when I join channel as audience I am getting this warning every time. When I join channel first time video appears and after if broadcaster mute their audio and unmute at that time I can only listen voice. No video is on screen.

Please help.

[2020-05-22 12:34] CavanSu commented on #69
@NayanBhut
Thank you for discovering this problem. When video stream is zero, I need reset video layout. you can see the latest commit, I fixed this problem.

warning code 16 causes by that view's width and height are 0 when it is related to AgoraRtcVideoCanvas, AgoraRtcEngineKit reports this warning code. After it is moved to AGEVideoContainer, it has normal size and renders video stream.

[2020-05-22 13:17] NayanBhut commented on #69
@CavanSu Thank you for your quick response. I get the latest code and run on the device. I am seeing same issue. I am running swift code.

Steps for produce.

[2020-05-24 04:33] plutoless commented on #69
@NayanBhut just merged @CavanSu 's commit into master. pls try again

[2020-05-24 18:26] dentesting opened #97 "OpenLive-Web - How to hide API key: appId"
Hi guys,

As per Agora instructions we must hide appID. In the code below, it uses .env file:

https://github.com/AgoraIO/Basic-Video-Broadcasting/blob/master/OpenLive-Web/src/rtc-client.js#L3

I'm not entirely sure that it is secure enough, I can still see it in the source code:

`/* harmony import */ var events__WEBPACK_IMPORTED_MODULE_1___default = /*#__PURE__*/__webpack_require__.n(events__WEB

[2020-05-25 05:56] NayanBhut commented on #69
@plutoless I checked the latest commit. This commit solved my issue. Thanks for your quick response and solution.

[2020-05-25 16:50] shubhra-ahead opened #98 "Live Streaming not working from Chrom and Safari browse of Mac browser as Host and as Audience both"
In the demo and your sdk code,
https://webdemo.agora.io/agora-web-showcase/examples/OpenLive-Web/#/  below issues are coming in Mac System (both Video Codecs):

**When I am Host from Mac Safari and Chrome browser**

1. When I host a live streaming, then my hosted video is shown blank to the audience on all the devices and browsers.

![image](https://user-images.githubusercontent.com/52812220/82831

[2020-05-26 00:49] plutoless commented on #97
hi @dentesting , if you have turned on token then it's OK to not hide appID. because others will not be able to join your channel with appID only. However if you have not yet turned on token then you are suggested to hide it, e.g. to obtain from your own server w/o storing it in your source file. However this is still not secure, appID only approach is anyway not that secure way.

[2020-05-26 00:54] plutoless commented on #98
@shubhra-ahead sorry i can't reproduce the issue. the demo is working fine for me. what is the problem you are having?

[2020-05-26 00:54] #69 closed

[2020-05-26 12:58] denisoftus commented on #97
Hi,
Well in this case, (I have turned on the token) its good, I'll use it like that. Just to confirm there is 100% no security risk having appID in React source code, which is always visible to the browser, when token is enabled?

Also, when you say obtain it from your own server, did you mean, appID, if so, how? Do you have code examples? I believe appId can only be assigned in Agora Console?

Th

[2020-05-26 14:56] Vaibhav-Agarwal06 commented on #98
Problem is that when we go live from windows chrome browser that we are not able to join it from safari browser from mac. It is showing black screen only not the streaming video. Also same issue is coming on iPhone safari and chrome browser. Is video broadcasting working on all browsers in all OS?

[2020-05-31 14:29] plutoless commented on #97
if you have turn on token then appID can exist in source code yes.
For obtain from your own server i mean copy and paste and store it on your server source code, then response when client requests you.

[2020-05-31 14:31] plutoless commented on #98
sorry we just confirmed this demo is working on PC only. on iphone you will need to turn off dual stream feature otherwise it will block you from using it properly.

[2020-05-31 22:59] dentesting commented on #97
Ok, thanks.

[2020-05-31 22:59] #97 closed

[2020-06-01 03:37] shubhra-ahead commented on #98
We are not testing on Mobile Browsers.
I have mentioned the issue in Mac system only.

If I host a live streaming from Mac system (laptop and PC) browser, then the stream is coming blank to audience in Windows PC pr even Mac PC.

[2020-06-07 13:41] plutoless commented on #98
i just did a test and it's working fine. could you pls help provide the console logs of both end so that i can take a look?

[2020-06-11 07:17] fuadmmnf opened #102 "Malfunction in webview"
I am using flutter_webview_plugin for showing the react project. When I join a channel  as audience no video stream is available. Rather sound is heart only. But if the host disconnects and reconnects the channel then the video is restored. Can I get some help regarding this issue?

[2020-06-14 09:17] plutoless commented on #102
what do you mean by sound is heart only?

[2020-06-14 09:55] fuadmmnf commented on #102
only audio was available..but it was a webview issue..

[2020-06-14 09:55] #102 closed

[2020-06-17 21:51] enriquejuan2 opened #103 "Saving the video locally"
I have successfully implemented the library into my app but i was wondering if it is possible to save the video to the local storage of the device or upload it to a cloud storage platform.

Thanks in advance

[2020-06-18 03:01] yoreland commented on #103
Hi, you may be interested with Agora's MediaPlayerKit:
https://docs.agora.io/en/Interactive%20Broadcast/mediaplayer_android?platform=Android

[2020-06-18 03:04] yoreland commented on #103
Hi, if you just want to get the real time video recorded. The solution for you is the cloud recording.
Please check below guideline if it fit your requirement:
https://docs.agora.io/en/cloud-recording/product_cloud_recording

[2020-06-18 06:23] enriquejuan2 commented on #103
Thanks this is exactly what i am looking for.

[2020-06-18 06:23] #103 closed

[2020-07-06 14:57] ej020586 commented on #98
I am unable to host from my iphone in safari. I disabled dual stream and still get kicked back to the landing page after allowing the app to use my camera. Does hosting not working from safari with this demo?

[2020-07-10 12:50] shubhra-ahead opened #108 "Audio & Video are not synced in the Video which is made after ending live streaming"
Audio & Video are not synced in the Video which is made after ending live streaming .

The video is displayed first and the audio is coming after the video. There is some blank screen before and after starting the video.

[2020-07-12 13:49] plutoless commented on #98
@ej020586 could you pls help provide a test link so that i can quickly check?

[2020-07-12 14:12] plutoless commented on #108
you mean rtmp streaming?

[2020-07-15 10:03] Vaibhav-Agarwal06 commented on #108
no we are going live from webcam and uses on promise agora SDK. When we use cloud recording then we are getting "435: No recorded files created. There is nothing to record because no user is in the channel." error when we stop the streaming. Can you please check and tell why we are getting these errors.

Thanks.

[2020-07-24 13:58] aravindm opened #109 "Mute Audio & Video Signalling does not work with 3.1.1 with Dual Stream"
1) Host calls muteVideo & muteAudio on local stream
2) Host joins the channel
3) Dual stream is enabled
4) Host publishes the stream
3) Audience is getting stream-added, stream-subscribed, mute-video, mute-audio & then unmute-video & unmute-audio events.

Expected Behavior:
Only receive stream-added, stream-subscribed, mute-video & mute-audio events.

Could you please let us know if this is a bug

[2020-07-27 05:44] plutoless commented on #108
sorry for late replies. the error sounds like you are trying to record an invalid channel. could you pls share me more information e.g. channel name, timestamp etc for me to investigate?

[2020-07-29 00:04] Jarred-Sumner commented on #98
I have a similar issue when using a Canvas stream. Support Ticket: CUS-7128

The error I'm getting is:
`{code: 400, reason: "invalid_appid", serverTs: 1595977190985, requestId: 1}`

Here are the logs:
[code]

[2020-07-29 04:23] ej020586 commented on #98
@Jarred-Sumner I haven't tried the canvas stream. Do you get a similar issue with a video stream?

[2020-07-29 05:57] Jarred-Sumner commented on #98
I haven't but I'll try it tomorrow.

The main differences between a canvas stream and a webcam stream is the variety of resolutions a canvas could be -- webcams have relatively standard resolutions, but a canvas could be any. H264 encoders are known to have issues with height/width that are not divisible by 8 (With iOS' video editing framework, if it's not divisible by 8 then you will sometimes ge

[2020-08-02 10:51] plutoless commented on #98
@Jarred-Sumner if the error indicates an invalid appid error, it's usually because you are not putting appid in the right place. how did you set your appid in the sample app?

[2020-08-02 23:46] Jarred-Sumner commented on #98
I got it working!

The problem was that I was using string-based user IDs. The error appeared when calling `startLiveStreaming` (after joined & published)

[2020-08-03 14:02] ChiGlobal opened #110 "Dependency duplicate errors"
Hi, I followed the steps and started the Gradle build..then I got this error

![Screenshot (268)](https://user-images.githubusercontent.com/68472603/89190514-7d78c200-d599-11ea-8fdc-62098e84836c.png)

A duplicate class issue, please how do I fix this?

`Duplicate class io.agora.rtc.Constants found in modules agora-rtc-sdk.jar (agora-rtc-sdk.jar) and agora-rtc-sdk.jar (io.agora.rtc:full-sdk:3.0.1)

[2020-08-03 15:54] ChiGlobal commented on #110
I've been able to fix it! I had to open the file that was downloaded, with the sdk (i.e OpenLiveAndroid) thanks a lot🙏🏼

[2020-08-03 15:54] #110 closed

[2020-08-06 09:23] amitprj51 opened #111 "Mismatch uid from web to android"
Sometimes getting different uid in android after screen sharing from web, in web getting positive number while in android getting negative number.

[2020-08-06 12:48] plutoless commented on #111
@amitprj51 it's in fact a positive number, because java does not have unsigned int32 so if you print it it will be negative. but it's indeed positive when it is transferred from C++ layer

[2020-08-06 12:52] amitprj51 commented on #111
is there any way to get exact positive number from that

[2020-08-11 05:39] #98 closed

[2020-08-17 15:34] plutoless commented on #111
why do you want it to be positive? for printing? or for equation?

[2020-08-17 16:26] ChiGlobal opened #113 "Token IDs to replace App IDs"
Hi, I got a message that we're not supposed to use app IDs anymore but instead token IDs... Is this true?

[2020-08-18 03:00] yoreland commented on #113
Hi, app id is not secure for production environment. But you could continue to use it for dev and testing purpose. :)

[2020-08-18 13:23] ChiGlobal commented on #113
@yoreland oh ok great, thanks a lot... Cos I got a little confused 😅🙏🏼

[2020-08-19 20:14] #113 closed

[2020-08-21 17:19] ChiGlobal opened #114 "Buttons not functioning"
Hi, what do I do... The buttons are not working
![Screenshot_20200817-180834.png](https://user-images.githubusercontent.com/68472603/90917440-cb375c00-e3da-11ea-88c1-018fee51cf12.png)

[2020-08-24 10:19] yoreland commented on #114
which demo it is ? Is it openLive?

[2020-08-27 12:22] ChiGlobal commented on #114
@yoreland hi, no it's not that one... This is made with flutter but I've resolved it already.. thanks 🙏🏼

[2020-08-27 12:22] #114 closed

[2020-08-31 11:56] DasJhaman opened #115 "Remove Audio and Video for Viewer when app is goes in background Android"
Hi how can i remove audio and video when app goes in background asking about Viewer, for broadcaster i have just called stopBroadcast and startBroadcaster in onResume and onPause method, but this is not working for Viewer, your help highly appreciated.

Thanks

[2020-09-06 06:51] plutoless commented on #115
you mean you want to stop subscribing remote video/audio when audience client goes to background, right? You may try muteRemoteVideoStream/muteRemoteAudioStream

[2020-09-10 14:07] iosfitness opened #116 "Not able to stream in newly created channel"
I am trying to dynamically create a channel and publish but its not sending stream on audience Apps

Below is the code snippet
[code]

Can anyone please suggest the right approach to do it?. My requirement is to create a channel when the host/broadcaster joins it. Reference :

https://docs.agora.io/en/Interactive%20Broadcast/start_live_ios?platform=iOS https://github.com/AgoraIO-Usecase/Breakout-C

[2020-09-14 02:05] plutoless commented on #116
i'm not sure if i understand your requirements correctly. A channel will be automatically created when you host/audience joins, you do not need to manually create it. And if you want an audience to switch to host and stream out video, you will need to call setClientRole in the channel.

[2020-09-14 06:12] iosfitness commented on #116
@plutoless  Thanks for the information. Also, could you please confirm if we need any paid account to create a new channel when host joins?

I the App where I have a licensed. I am able to create channels. However, the App which has a free account  is giving an error. Could you please confirm?

[2020-09-15 12:43] Yogi09 opened #117 "How can remove channel restriction from token"
Hi,
I was using demo version for broadcasting video, but when I was doing this so camera was not showing anything, after reading some comments I found that I'll have to use same channel from which I created token from console of Agora.
How can I create token which don't have any Channel Restriction and simply can broadcast any channel.
Please help me.

[2020-09-22 06:32] plutoless commented on #117
just create a new project w/o token. there's an option for you to choose when creating project.

[2020-09-24 09:24] Yogi09 commented on #117
What is w/o token I didn't get this while creating new project , if it is whiteboard token so Will I have to keep my own  token

[2020-09-27 01:51] plutoless commented on #117
i mean you can create a new project at agora dashboard without token. in this case you can simply join any channel with your static appid. it's not secure though. We don't have official whiteboard so i'm not sure which whiteboard solution you are talking about.

[2020-09-28 07:41] jlinkw opened #119 "Full screen for video broadcasting"
hello,

I have implemented video broadcasting using "Agora Live Interactive Video Streaming" SDK but I am unable to find **full-screen** toggle functionality. I have reviewed the documentation but couldn't find any reference to the full-screen functionality.

Any guidance shall be appreciated!

Reference: https://docs.agora.io/en/Interactive%20Broadcast/product_live?platform=All%20Platforms

[2020-09-29 12:58] yoreland commented on #119
Hello,
do you mean full screen for local video view?

Basically, one way is to call setupLocalVideo() function to another view on your app.
If the new view is full screen on your app, you could see it just toggle to "full screen".

[2020-09-30 10:05] himanshu2601 opened #120 "Issue in showing 4 hosts"
There are 4 hosts joined a channel. In iOS, I am unable to see video of all the hosts but I can hear them.

[2020-10-01 08:33] plutoless commented on #120
currently this demo supports up to 4 hosts (including yourself local video). To support more you will need to adjust the code a little bit.

[2020-10-01 11:19] himanshu2601 commented on #120
you can please help me out regarding that

[2020-10-01 11:21] himanshu2601 commented on #120
I have already set maxVideoSession as 20 but having issue in updateBroadcastersView() function

[2020-11-09 15:00] mitra7 commented on #82
Do you have any plans to support this kind of platform? I'm also interested on this topic.

[2020-11-11 09:11] zhangtao1104 commented on #82
Yes, we plan to support UWP, it is in our roadmap. We maybe support UWP in q2 of next year.

[2020-12-08 16:15] peterujah opened #124 "Not able to use agora renewToken"
I created live streaming on agora android. Before opening the live activity I always check from server if token is valid and if no generate new token using the agora php SDK like below.

[code]

And call `rtcEngine().renewToken("tokeFromServer...");` then also set the channel name which I used in generating token 'config().setChannelName(liveName);`, yet it doesn't work except when i add the token

[2020-12-12 17:03] plutoless commented on #124
@peterujah just generate a new token every time, renewToken is used if you have already joined channel, while the live broadcasting is so long that it exceeds the expire time you set for the original token, there will be a tokenWillExpire callback from sdk and then you call renewToken to renew it while in channel.
This is usually not needed, just generate a new token every time.

[2020-12-14 07:16] Darshan-Sonigara opened #126 "Get Channel count"
How to get user joined channel count?

Thanks in advance

[2020-12-20 02:54] yoreland commented on #126
Can you provide more infos about your scenario?
Where is the place to collect this info and what is the frequency, etc.
If you are just using rtcChannel Object to join multiple channel, it is easily control locally.

[2020-12-22 05:46] yash-khandelwal opened #127 "Unhandled Rejection (TypeError): Cannot read property 'close' of undefined"
328 |   if (!this._client) return resolve()
  329 |   // leave channel
  330 |   this._client.leave(
      | ^  331 |     () => {
  332 |       this._joined = false
  333 |       this.destroy()

[2020-12-22 05:54] #127 closed

[2020-12-22 05:54] yash-khandelwal commented on #127
this happens when you type the wrong channel name.

[2020-12-26 13:47] sarmabkp commented on #120
Hi plutoless, How are you doing?
we are developing broadcasting app. we are using this OpenLive SDK.
Just to clarify : 4 Hosts + unlimited audience can join right?
I mean 4 Host + and100 people can join as audience ?

[2020-12-26 13:59] sarmabkp commented on #126
Ho do I know how many audience joined in broadcasting? I mean somewhere we should show the count like participants (100 people are there in conference) like that

[2020-12-27 03:50] plutoless commented on #120
@sarmabkp yes this should work properly.

[2020-12-27 03:51] plutoless commented on #126
@sarmabkp currently agora sdk is not providing join/leave events for audience. if you need to count this you will need to create a server and websocket connection yourself so that your server can collect it

[2020-12-28 09:15] CodeWarrior1012 opened #128 "Warning: Invalid view & warning code 16"
I have a problem with running the open-live ios project.
I could build the project and I replaced the APP ID and token placeholder strings.
I run the project on 2 iPad devices one for the broadcaster and another one for a client.
When I get into the live streaming room with the same channel id as the broadcaster, it shows nothing which occuring "warning code: invalid view & warning code: 16"
![ima

[2020-12-28 09:30] CodeWarrior1012 commented on #128
![image](https://user-images.githubusercontent.com/62555977/103204347-74e1a900-48f7-11eb-8ab7-669bc0bf5433.png)
@guohai @plutoless @zontan @icywind
Please check this image as well.
It is saying "Unable to simultaneously satisfy constraints". I think it is the main issue that it occurs invalid view and code 16.

[2020-12-31 07:36] sarmabkp commented on #126
Thanks a lot @plutoless  for clarification.  We are bit confused on how to create a server and websocket connection to get the count.
Can you please help us to implement from your side?
If not, can you please guide us on how to do? my skype id: sarma.bkp
Please ping me whenever you are free.

[2021-01-03 13:12] plutoless commented on #128
@CodeWarrior1012 sorry for late reply. i'm not sure if we adapt to ipad at all. does it work well on your iphone?

[2021-01-03 13:30] plutoless commented on #126
@sarmabkp the easiest way is to use socket.io
https://socket.io/

[2021-01-10 13:27] managuli commented on #76
Getting same issue while running the project. What is the fix?

[2021-01-10 13:32] managuli commented on #76
Were you able to fix it?

[2021-01-10 15:16] managuli opened #129 "'web connect timeout' error as soon as 'Connected to gateway server'"
Tested for rtc-sdk version: 3.0.0 and above.
Chrome latest version.
Agora account type: testing

When I try to join the channel, I get warning:
**Agora-SDK [WARNING]: handleSendError**

Then sdk keeps on reattempting connection until web socket times out.

While the sdk state changes to and fro:
{"type":"connection-state-change","prevState":"CONNECTING","curState":"CONNECTED"}
and
{"type":"connect

[2021-01-11 09:07] sarmabkp commented on #120
@plutoless , one quick doubt: What is the difference between the broadcasting and  generic video conference? in code and architecture wise?

[2021-01-17 12:43] plutoless commented on #76
@managuli could you pls help provide the full logs?

[2021-01-17 12:44] plutoless commented on #129
which network are you using? 4g or wifi? are you using a corporate network?

[2021-01-17 12:50] plutoless commented on #120
@sarmabkp live broadcasting usually has 1 host only, or at most 2 host to co-host. While video conferencing everyone can be host. Implementation-wise they are similar, while you can read best practice for multiple user use case here, https://docs.agora.io/en/Interactive%20Broadcast/multi_user_video?platform=Android

[2021-01-27 02:58] lienista commented on #76
I'm having the same issue

[code]

[2021-01-27 03:06] lienista commented on #76
@plutoless I figured it out. You need to add `dot-env` in the list of ```devDependencies``` in order to read env files. it seems like the file was never read in the first place.

[2021-01-31 02:12] #76 closed

[2021-01-31 02:12] plutoless commented on #76
seems the issue is resolved

[2021-02-03 04:25] kimpoytoledo opened #131 "google cast on live streaming"
Does anybody know how to implement google cast on live streaming?

[2021-02-07 12:23] rhenrhee opened #132 "error: cannot find -lagora_rtc_sdk"
Windows 7 Ultimate, Qt5.15
In the process of building the project errors appear:
error: cannot find -lagora_rtc_sdk
:-1: error: collect2.exe: error: ld returned 1 exit status
:-1: error: [Makefile.Debug:109: debug/OpenLive.exe] Error 1

[2021-02-16 01:58] yoreland commented on #132
Just for double-confirm, do you Unzip the downloaded SDK package and copy the libs to the project folder?

[2021-02-16 07:08] rhenrhee commented on #132
Yes, of course. To make sure everything was done according to the instructions, I additionally ran the related project under "MFC" and it ran correctly. I did the same experiment for the Qt project under Microsoft Windows 10 and the error is the same. Perhaps I should give more detailed instructions or record a video. At the same time, for Mac OS X all versions work correctly!

[2021-02-18 15:39] sashabaranov opened #134 "iOS: Unable to start video broadcast"
Hey guys,

I was following [this](https://docs.agora.io/en/live-streaming/start_live_standard_ios?platform=iOS) tutorial and could not start a local video preview / broadcast.

The problem spot seem to be in:
[code]

It returns code -7 which as docs suggest indicates an error.

I've also tried to build your example from [here](https://github.com/AgoraIO/Basic-Video-Broadcasting/tree/master/OpenLiv

[2021-02-28 09:36] sbd021 commented on #132
SDK version? Which branch?

[2021-02-28 09:44] sbd021 commented on #132
You need to copy libs folder in sdk zip to the path OpenLive.pro is located in. The compiler will find agora_rtc_sdk.lib from libs/x86(x64_86).

[2021-02-28 12:18] plutoless commented on #134
@sashabaranov -7 means sdk is not yet initialized. have you put in the appid and token field as instructed in the readme?

[2021-03-01 06:48] rhenrhee commented on #132
Thank you for your reply. I'll check today and report back.

[2021-04-06 05:20] hardiktgreydesk opened #137 "How to identify that host already start broadcast channel ?"
Hello team,

We have a requirement that user can join the broadcast channel which is hosted by a Tutor, But i want to know that when user try to join that channel and if that channel not yet broadcast by tutor. i want to give some error to user. How can we achieve that ?

[2021-04-07 03:20] yoreland commented on #137
You'd better rely to your backend service to do this kind of requirement.
Another choice if you want to get real time notification when broadcast status updated, you could integrate Agora RTM SDK to do server-to-client push notification

[2021-04-09 07:19] #137 closed

[2021-04-13 18:52] damisparks opened #138 "VueJs Live Streaming Integration."
Hi, it would be nice to have a VueJS implementation of Agora Live Streaming Functionality.
Been working on this but cannot seem to get it all working yet.

[2021-04-14 04:27] yoreland commented on #138
So far it is not planned. Can you check [this](https://github.com/AgoraIO/Basic-Video-Call/tree/master/One-to-One-Video/Agora-Web-Tutorial-1to1-Vue) if it helps?

[2021-04-16 10:03] damisparks commented on #138
@yoreland Thanks for the link. Already checked that before. Wanted to know if it has been planned or not.
The demo does not have the (un)mute and live streaming functionality there yet like the one on [React Demo](https://github.com/AgoraIO/Basic-Video-Broadcasting/tree/master/OpenLive-Web)

[2021-07-08 11:01] shubhra-ahead opened #142 "Android & iOS to Website Live Streaming not working. Only audio is coming, video is not coming."
We have implemented this sdk at our end and facing the issue that when the user goes live from iOS or Android device to Website, then the live video is not displaying.

Only the voice behind the video is audible,

Please provide assistance on this issue.

[2021-07-13 15:55] yoreland commented on #142
One possible reason is wrongly used audio SDK. Can you double check?

[2021-07-15 05:05] shubhra-ahead commented on #142
As mentioned, we can hear the audio, but the issue is we can not see the video.

[2021-07-20 09:20] norman93sun opened #143 "iOS - record audio but BGM wont play correctly"
There is a project: using AgoraRtcKit for video call, and AudioKit for recording audio after exit room.

Step:
1.  Join channel as a `broadcaster`, and set `agoraKit.setAudioProfile(.default, scenario: .education)`
**If set scenario with gameStreaming this issue wont happen**
2. Leave channel and go to record.

Issue：
When it's recording, there's a BGM palying with no sound.
It's working normally

[2021-08-03 21:20] hvsw commented on #134
7 | A method is called before the initialization of `RtcEngine`. Ensure that the `RtcEngine` instance is created and initialized before calling the method.
-- | --

https://docs.agora.io/en/Interactive%20Broadcast/error_rtc?platform=iOS#warning-codes

---

I was using `.xcframework`s and what was missing was the `Agoraffmpeg.xcframework`.

Interestingly, when using `.xcframework` the app would run

[2021-08-29 00:02] ParabellumApp commented on #70
Yes, It would be great! An example of Picture in picture implementation on Agora basic broadcasting demo.

[2021-08-29 00:36] ParabellumApp opened #144 "Handler (android.media.ImageReader$ListenerHandler) {693bf54} sending message to a Handler on a dead thread"
Hi 👋🏻, I'm using this android demo code like the foundation of my development, but when I use it as Broadcaster, I get this error when I leave the room:

[code]

I must clarify that only happens when I use it as a Broadcaster, I'm sure that that does not happen in the audience role.

[2021-10-21 16:04] KhaliqCitrusbits commented on #115
Any Update on this?

[2021-10-25 22:13] lienista opened #146 "Media Undefined/INVALID_GATEWAYCLIENT"
I have this issue with the sample SDK

![image](https://user-images.githubusercontent.com/1018672/138778342-5f095ea5-f87a-4b59-be7b-7bf5936bdaa2.png)

[2021-12-22 20:25] zubingala opened #149 "maxVideoSession 6 people."
I'm trying to implement maxVideoSession = 6. But, sometimes when 3 or more people join cannot see third view. Can someone help me here.

[code]

[2022-01-27 08:43] 13268948473 commented on #142
1.

[2022-01-27 14:06] Molnfront opened #150 "Media undefined in OpenLive-Web"
Got loads of errors in Chrome, Firefox, Safari here is the consol log for Chrome:

index.js:1350 Material-UI: the createMuiTheme function was renamed to createTheme.

You should use `import { createTheme } from '@material-ui/core/styles'`
console.<computed> @ index.js:1350
createMuiTheme @ createTheme.js:94
./src/utils/theme.js @ theme.js:3
__webpack_require__ @ bootstrap:785
fn @ bootstrap:150
./

[2022-02-07 01:24] plutoless commented on #150
hi @Molnfront pls check out this maybe
https://github.com/AgoraIO/API-Examples-Web
and you should be able to try out at https://webdemo.agora.io/

[2022-02-07 08:04] yoreland commented on #150
@Molnfront
the new openLive with integrated with sdk 4.x just updated on
https://github.com/AgoraIO/API-Examples-Web/tree/main/OpenLive

[2022-02-08 06:34] plutoless commented on #149
sorry for late reply. where did you call setupRemoteView?

[2022-02-28 20:21] hugoebarboza commented on #76
I have the same issue, anybody fix it ?

[2022-05-16 05:06] GireshD commented on #76
I have same issue.
 I am using this project https://github.com/AgoraIO-Usecase/Video-Calling/tree/master/OpenDuo-Web

[2022-05-31 08:55] Amitdygon opened #152 "Going live from android video is zoomed in web and IOS"
Here My first Android live image
![Screenshot_20220531_142341](https://user-images.githubusercontent.com/45029280/171134108-21602fca-539f-4cd0-97c5-fd6053a520a9.png)

Here what i got into web
![image](https://user-images.githubusercontent.com/45029280/171134163-0dc246d0-aabe-40c7-b4ef-7be095db17de.png)

code to send ar view

` val outBitmap = Bitmap.createBitmap(arFragment!!.arSceneView.width, arF

[2022-06-06 01:56] plutoless commented on #152
try changing video content mode from fulfill to fit and see. guess the remaining content area was cut off.

[2022-06-21 05:27] myaseen5 opened #153 "Agora live streaming closing"
How to close live streaming on agora in ios when user want to close or quite live stream.

[2022-06-22 01:30] plutoless commented on #153
simply call engine.leaveChannel.

[2022-06-22 05:42] myaseen5 commented on #153
where i can call this function or code

[2022-06-22 05:47] plutoless commented on #153
which project you are running with? if you ever see the api call to join the channel, you simply need to call the leave api on the same object instance.

[2022-06-22 05:49] myaseen5 commented on #153
there is no leave API for leaving the channel that's why i ask

[2022-06-22 05:50] myaseen5 commented on #153
the above code is to add in the back button or where i add it

[2022-06-22 10:46] plutoless commented on #153
@myaseen5 could you pls tell me which platform/demo you are running with?